{#
/**
 * @file
 * Onepage template for Parade.
 */
#}
{{ attach_library('parade/smooth-scroll') }}
{% set machine_name = node.field_machine_name.value %}

<div id="{{ machine_name|default('parade-demo-page') }}">
  <main class="page-content" role="main">
    {{ page.content }}
  </main>
</div>
