@font-face {
	font-family: 'HelveticaNeue';
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Th.eot');
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Th.woff2') format('woff2'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Th.woff') format('woff'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Th.ttf')  format('truetype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.eot');
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.woff2') format('woff2'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.woff') format('woff'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.ttf')  format('truetype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLTCom-Lt') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.eot');
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.woff2') format('woff2'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.woff') format('woff'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.ttf')  format('truetype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.eot');
	src: url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.eot?#iefix') format('embedded-opentype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.woff2') format('woff2'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.woff') format('woff'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.ttf')  format('truetype'),
		 url('#{$fonts-directory}/HelveticaNeueLTCom-Hv.svg#HelveticaNeueLTCom-Hv') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}