.node--type-campaign {
	// Contextual links adds a position: relative...
	position: static !important;

	.hamburger {
		padding: 0;
		width: $header-height;
		height: $header-height;
		position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 500;

		@include md {
			display: none;
		}

		@include breakpoint-max(md) {
			&.is-active + .campaign-menu {
				opacity: 1;
				visibility: visible;
			}
		}

		&:active, &:focus {
			outline: none;
		}

		.hamburger-inner {
			&, &::before, &::after {
				width: 30px;
				background-color: white;
			}
		}

		.hamburger-box {
			width: 30px;
			height: 29px;
		}

		.hamburger-toggle {
			color: white;
			width: $header-height;
			height: $header-height;
			&:hover, &:active, &:focus {
				text-decoration: none;
			}
			@include md {
				display: none;
			}
		}
	}

	// Menu field wrapper.
	.campaign-menu {
		position: absolute;
		top: $header-height;
		right: 0;
		z-index: 500;
		width: 100%;

		// Mobile styles for Menu field wrapper.
		@include breakpoint-max(md) {
			background: rgba(0, 0, 0, 0.7);
			opacity: 0;
			visibility: hidden;
			will-change: opacity;
			transition: opacity .2s, visibility .2s;
			overflow-y: hidden;
			backface-visibility: hidden;
		}

		// Desktop styles for Menu field wrapper.
		@include md {
			position: fixed;
			top: 0;
			left: 0;
			padding: 1em;
			font-size: .9em;
			text-align: right;
			transition: background .2s;

			.campaign-menu-link {
				display: inline-block;
			}
		}

		> ul {
			margin: 0;
			padding: 0;
		}

		// When scrolling past Header, we need a background.
		&.fixed {
			background: rgba(0, 0, 0, .5);
		}

		// Menu links <a> tags
		a:link, a:visited, a:active, a:focus {
			font-family: $helvetica-bold;
			color: white;
			text-decoration: none;
			display: block;
			text-align: center;
			padding: .5em;
		}

		// On desktop, the links have a bottom border on :hover
		@include md {
			a:link {
				border-bottom: 2px solid transparent;
				transition: border-color .2s;
			}
			a:hover, a.active {
				border-color: white;
			}
		}


	}
}