{#
/**
 * @file
 * Default theme implementation to display a 404 error page.
 *
 * @see campaing_pages_theme()
 *
 * @ingroup themeable
 */
#}
<h2><span class="tieto-orange">403</span></h2>

<h3><span class="tieto-blue">Forbidden.</span></h3>

<p>&nbsp;</p>

<p>You don't have permission to access this page.</p>
