{#
/**
 * @file
 * Default theme implementation to display a 403 error page.
 *
 * @see campaing_pages_theme()
 *
 * @ingroup themeable
 */
#}
<style>
    #page-403 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
</style>
<div id="page-403" class="tieto-campaign-page">

    <div class="paragraph--type--header">
        <div class="background">
            <div class="background-wrapper">
                <div class="background-image" style="background-image: url(/themes/tieto_admin/images/403.jpg)"></div>
            </div>
            <div class="paragraph-inner">
                <div class="field field--name-field-title field--type-string field--label-hidden field__item">Access Denied. 403</div>
                <div class="field field--name-field-secondary-title field--type-string field--label-hidden field__item">You are not authorized to access this page.</div>
            </div>
        </div>
    </div>

    {% include directory ~ '/templates/inc/footer.html.twig' %}
</div>