{#
/**
 * @file
 * Default theme implementation to display a 404 error page.
 *
 * @see campaing_pages_theme()
 *
 * @ingroup themeable
 */
#}
<h2><span class="tieto-orange">404</span></h2>

<h3><span class="tieto-blue">Page not found.</span></h3>

<p>&nbsp;</p>

<p>So sorry, we couldn't find the page you were looking for.</p>