{#paragraph
/**
 * @file
 * Default theme implementation for a paragraphs previewer modal content.
 *
 * Available variables:
 * - preview_url: The Drupal\Core\Url object for the preview.
 * - preview_url_string: The rendered preview url.
 *
 * @see template_preprocess()
 * @see template_preprocess_paragraphs_previewer_modal_content()
 *
 * @ingroup themeable
 */
#}
{% if paragraph %}
  {{ paragraph }}
{% else %}
  <p>{{ 'No preview available.'|t }}</p>
{% endif %}
