// Campaign Sites
// @todo simplify

.campaign-title {
  margin-bottom: 1em;
  font-family: $helvetica-bold;
  letter-spacing: -1px;
}

.campaign-headline {
  @extend .campaign-title;
  font-size: 3em;
  line-height: 1;
}

.campaign-title-center {
  @extend .campaign-title;
  font-size: 2em;
  color: #000;
  text-align: center;
}

.campaign-title-separator {
  @extend .campaign-title;
  color: #969696;
  font-size: .9em;
  letter-spacing: 2px;
  text-align: center;
  border-bottom: 1px solid #969696;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.campaign-title-item {
  @extend .campaign-title;
  font-size: 1.2em;
  color: $tieto-blue;
  text-align: center;
  line-height: 1.5;
}