// Campaign Sites
// @todo simplify

.campaign-title {
  margin-bottom: 1em;
  font-family: $helvetica-bold;
  letter-spacing: -1px;
}

.campaign-title-center {
  @extend .campaign-title;
  font-size: 2em;
  color: #000;
  text-align: center;
}

.campaign-title-item {
  @extend .campaign-title;
  font-size: 1.2em;
  color: $tieto-blue;
  text-align: center;
  line-height: 1.5;
}