// @fixme all of this
.block-language {
  position: relative;
  .links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    li {
      display: none;
      &.is-active {
        display: block;
        position: relative;
        a {
          color: $tieto-blue;
        }
        :after {
          content: " ";
          position: absolute;
          right: -1em;
          top: .4em;
          display: inline-block;
          width: .5em;
          height: .5em;
          transform: rotate(135deg);
          border-right: .1em solid $tieto-blue;
          border-top: .1em solid $tieto-blue;
        }
      }
    }
    &:hover {
      background: $tieto-blue;
      position: absolute;
      bottom: -1.6em;
      z-index: 99;
      padding: 20px;
      li {
        display: block;
        &.is-active {
          a {
            color: #fff;
            font-weight: 700;
          }
        }
      }
      a {
        color: #fff;
      }
    }
  }
}