/**
 * @file
 * Better paragraph buttons.
 *
 * @todo @fixme clean up this shit!
 * More SVG icons here:
 * https://thenounproject.com/ArtZ91/collection/interface/
 * https://thenounproject.com/AlfredoCreates/collection/wireframes-5-s4-outline/
 * https://thenounproject.com/AlfredoCreates/collection/wireframes-9-glyph/
 * https://thenounproject.com/AlfredoCreates/collection/wireframes-11-outline/
 * https://thenounproject.com/AlfredoCreates/collection/wireframes-5-s4-glyph/
 * http://www.flaticon.com/packs/layout-icons
 */

.paragraphs-button-wrapper {
  text-align: center;
}

.paragraphs-button-wrapper .button {
  width: 23%;
  padding: 80px 0 .7em;
  margin-right: .5em;
}

.paragraphs-button-wrapper .button:first-child {
  margin-right: .5em;
}

.paragraphs-button-wrapper .button + .ajax-progress {
  display: none;
}

.paragraphs-button-wrapper .button {
  background-repeat: no-repeat !important;
  background-position: center .7em !important;
  background-size: 65px;
}

.paragraphs-button-wrapper .button[disabled] {
  background-size: 50px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJsb2FkZXItMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICAgICB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjNjNiM2UzIiBkPSJNNDMuOTM1LDI1LjE0NWMwLTEwLjMxOC04LjM2NC0xOC42ODMtMTguNjgzLTE4LjY4M2MtMTAuMzE4LDAtMTguNjgzLDguMzY1LTE4LjY4MywxOC42ODNoNC4wNjhjMC04LjA3MSw2LjU0My0xNC42MTUsMTQuNjE1LTE0LjYxNWM4LjA3MiwwLDE0LjYxNSw2LjU0MywxNC42MTUsMTQuNjE1SDQzLjkzNXoiPiAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVUeXBlPSJ4bWwiICAgICAgYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiAgICAgIHR5cGU9InJvdGF0ZSIgICAgICBmcm9tPSIwIDI1IDI1IiAgICAgIHRvPSIzNjAgMjUgMjUiICAgICAgZHVyPSIwLjZzIiAgICAgIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+ICAgIDwvcGF0aD4gIDwvc3ZnPg==") !important;
}

/*.paragraphs-button-wrapper .button.paragraph-add-tabs {
  background-image: url('../images/tabs.svg');
}*/

.paragraphs-button-wrapper .button.paragraph-add-image-text {
  background-image: url('../images/text-and-image.png');
}

.paragraphs-button-wrapper .button.paragraph-add-marketo-form {
  background-image: url('../images/form.png');
}

.paragraphs-button-wrapper .button.paragraph-add-header {
  background-image: url('../images/header.png');
}

.paragraphs-button-wrapper .button.paragraph-add-text-boxes {
  background-image: url('../images/textboxes.png');
}

.paragraphs-button-wrapper .button.paragraph-add-text-box {
  display: none;
}

/*.paragraphs-button-wrapper .button.paragraph-add-highlighted {
  background-image: url('../images/highlighted.svg');
}*/

/*.paragraphs-button-wrapper .button.paragraph-add-parallax {
  background-image: url('../images/parallax.svg');
}*/

.paragraphs-button-wrapper .button.paragraph-add-simple {
  background-image: url('../images/simple.png');
}

.paragraphs-button-wrapper .button.paragraph-add-images {
  background-image: url('../images/images.png');
}
