<footer class="page-footer">
	<div class="footer-text">
		<div class="footer-text-copyright">© Tieto</div>
		<div class="footer-text-privacy">
			<a href="https://www.tieto.com/privacy-statement" >Privacy statement</a>
		</div>
	</div>
    <div class="logo-footer-small"><img src="/themes/tieto_admin/images/logo_footer_small.png" alt="Tieto"></div>
</footer>