<footer class="campaign-footer">
	<div class="container">
		<span class="footer-item">© Tieto</span>
		<a class="footer-item"href="https://www.tieto.com/privacy-statement">{{ 'Privacy statement'|t }}</a>
		{{ page.footer }}
		<img class="tieto-logo" src="/themes/tieto_admin/images/logo_footer_small.png" alt="Tieto">
	</div>
</footer>