{%
set classes = [
	'paragraph',
	'paragraph--type--' ~ paragraph.bundle|clean_class,
	view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% set enableParallax = content.field_enable_parallax['#items'].getValue()[0]['value'] == '1' %}
{% set background = file_url(content.field_background_image['#items'].entity.uri.value) %}

<div{{ attributes.addClass(classes) }} {% if enableParallax %}data-parallax="scroll" data-image-src="{{ background }}"{% else %}style="background: url({{ background }}) no-repeat center center; background-size: cover;"{% endif %}>
	<section id="section-home" class="top-slider bg-1">
	<div class="slider-inner">
		<div class="row">
			<div class="large-7 large-offset-5 columns">
				<div class="slider-text">
					<div class="text-wrapper">
						<h1 class="maintitle">Energy Components</h1>
						<h2 class="subtitle">A Tieto Oil &amp; Gas Industry Product</h2>

						<a data-scroll-to="form-whitepaper" href="#" class="button black-transparent radius">Request Whitepaper</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>
</div>