.paragraph--type--marketo-form.paragraph--view-mode--default {
	background: $tieto-lightgrey;

  .image-style-whitepaper-a4 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .field--name-field-title {
    @include campaign-headline;
    text-align: center;
    margin-bottom: .5em;
    color: $text-color-strong;
    @include md {
      text-align: left;
    }
  }

  .field--name-field-lead-text {
    @include campaign-lead;
  }

  .field--name-field-title,
  .field--name-field-lead-text,
  .field--name-field-marketo-form,
  .field--name-field-text {
    @include md {
      width: 50%;
      float: left;
      clear: left;
    }
  }

  // Display thank you message later.
  .field--name-field-text {
    display: none;
  }

  .field--name-field-image {
    text-align: right;
    padding: 1em;
    text-align: center;
    @include md {
        text-align: right;
      width: 50%;
      float: right;
    }
  }

	// Marketo overrides.
	.mktoForm {
        width: 100% !important;
		&, * {
			font-family: inherit !important;
		}
		.mktoLabel, .mktoRequiredField label.mktoLabel {
			width: auto !important;
			display: inline-block;
			float: none;
			padding: 0;
			margin: 0;
			line-height: 1.5;
			font-size: 16px;
			font-weight: bold !important;
		}
        .mktoFormCol, .mktoFieldWrap, .mktoField {
            width: 100% !important;
        }
		input.mktoField, textarea.mktoField {
			min-height: inherit !important;
			padding: 10px !important;
			line-height: 1.5 !important;
			font-size: 16px !important;
		}
		textarea.mktoField {
			resize: vertical !important;
			height: auto !important;
			min-height: inherit !important;
		}
        .mktoButtonRow {
            margin-top: 8px !important;
        }
        .mktoButtonWrap {
            margin-left: 0 !important;
            .mktoButton {
                height: 36px;
                line-height: 35px;
                padding: 0 20px;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
                background-clip: padding-box;
                border-radius: 2px;
                cursor: pointer;
                background: none repeat scroll 0 0 #0065a0 !important;
                border: medium none !important;
                box-shadow: none !important;
                color: #ffffff !important;
                float: left;
                &:hover {
                    background-color: #e56385 !important;
                }
            }
        }
	}
}
