/**
 * @file
 * HEADER paragraph
 */
$paragraph-header-height: 600px;
$paragraph-header-overlay-bg: rgba(103, 175, 225, .5); // @todo move to variables (e.g. $tieto-lightblue)

.paragraph--type--header.paragraph--view-mode--default {
    padding: 0;
    position: relative;
    height: 570px;

    // Background overlay
    .bg-wrapper::before {
        content: " ";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 1;
        background-color: $paragraph-header-overlay-bg;
    }

    // Diagonal edge for the next paragraph.
    + .paragraph {
        @include slope(before, 3.5deg, false);
        ~ .paragraph {
            position: relative;
            z-index: 1;
        }
    }

    // Title, Secondary title.
    .field--name-field-title {
        font-size: 1.8em;
        margin-bottom: .5rem;
        display: inline-block;
        font-weight: 800;
        letter-spacing: -2px;

        @include breakpoint(md) {
            font-size: 2.8em;
        }

        @include breakpoint(lg) {
            font-size: 4em;
        }
    }

    .field--name-field-secondary-title,
    .field--name-field-lead-text {
        font-size: 1em;
        margin-bottom: .5em;

        @include breakpoint(md) {
            font-size: 1.2em;
        }
        @include breakpoint(lg) {
            font-size: 1.5em;
        }
    }

    .field--name-field-title,
    .field--name-field-secondary-title {
        line-height: normal;
    }

    // Call to action buttons.
    .field--name-field-call-to-action {
        .field__item {
            display: inline-block;
        }
        a {
            color: white;
            display: inline-block;
            padding: .7em 1.4em;
            margin-right: .5em;
            background: $tieto-blue;
            border-radius: 3px;
            transition: background .3s;
            &:hover, &:focus, &:active {
                text-decoration: none;
                background: lighten($tieto-blue, 5%);
            }
        }
    }

    // Content wrapper.
    .paragraph-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 100%;
        color: white;
        padding: 2em 1em;
        z-index: 20;
        @include breakpoint-max(md) {
            transform: translateY(-50%);
            text-align: center;
        }
    }

}
