.paragraph--type--image-text.paragraph--view-mode--default {

    .field--name-field-title {
        @include campaign-headline;
        color: $text-color-strong;
    }

    // Call to action buttons.
    .field--name-field-call-to-action {
        clear: both;
        .field__item {
            display: inline-block;
        }
        // a {
        //     color: white;
        //     display: inline-block;
        //     padding: .7em 1.4em;
        //     margin-right: .5em;
        //     background: $tieto-blue;
        //     border-radius: 3px;
        //     transition: background .3s;
        //     &:hover, &:focus, &:active {
        //         text-decoration: none;
        //         background: lighten($tieto-blue, 5%);
        //     }
        // }
    }

    &.layout--none,
    &.layout--image_1st,
    &.layout--text_1st {


      .field--name-field-image {
          @include md {
              width: 33.333%;
          }
      }

      .field--name-field-title,
      .field--name-field-text{
          @include md {
              width: 60.666%;
          }
      }


      .field--name-field-image {
          text-align: center;
          margin: 1em 0 0;
          @include md {
              margin: 0;
          }
      }

      .field--name-field-text {
        text-align: justify;
      }

      @include md {
          .field--name-field-title {
              text-align: left;
          }
      }
    }

    // Layout: Text first
    &.layout--none,
    &.layout--text_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: left;
            }
            // Image
            .field--name-field-image {
                float: right;
                // padding-left: 1.5em;
                text-align: left;
            }
            .field--name-field-call-to-action {
                text-align: left;
                clear: left;
            }
        }
    }

    // Layout: Image first
    &.layout--image_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: right;
            }
            // Image
            .field--name-field-image {
                float: left;
                // padding-right: 1.5em;
                text-align: right;
            }
            // Call to action buttons.
            .field--name-field-call-to-action {
                text-align: right;
                clear: right;
            }
        }
    }

    // Layout: Enhanced
    &.layout--text_1st_enhanced,
    &.layout--image_1st_enhanced {

        // Title
        .field--name-field-title {
            @include campaign-title-center;
            width: 100%;
        }

        // Text
        .field--name-field-text {
            padding: 2em;
            background: $tieto-lightblue;

            @include md {
                padding-right: 4em;
                width: 60%;
            }
        }

        // Image
        .field--name-field-image {
            text-align: center;
            background: $tieto-lightblue;
            padding: 2em 0 0;

            img {
                display: block;
            }

            @include md {
                text-align: left;
                background: 0;
                padding: 0;
                margin: 2em 0 0 0;
                transform: translateX(-2em);
                width: 40%;
                float: right;
            }
        }
        // Call to action buttons.
        .field--name-field-call-to-action {
            text-align: center;
            width: 40%;
            float: right;
            margin-top: -1.5em;
        }
    }
}
