.paragraph--type--images.paragraph--view-mode--default {

	.field--name-field-title {
		@include campaign-title-center;
	}

	.field--name-field-images {
		//text-align: center;
		text-align: left;
		.field__item {
			padding: 1em 2em;
			vertical-align: middle;
			display: inline-block;
		}
	}
}
