.paragraph--type--parallax.paragraph--view-mode--default {
  text-align: center;
  color: white;

  .bg-image {
    // Fallback for when the background image is not available,
    // because the font color is white, so it would not be visible.
    background-color: $text-color-strong;
  }

  .field--name-field-title {
    @include campaign-title;
    margin-bottom: .5em;
  }
}
