// Text Boxes
.paragraph--type--text-boxes.paragraph--view-mode--default {

	// Main Title
	.field--name-field-title {
		@include campaign-title;
		color: $text-color-strong;
	}

	// Layouts
	&.layout--smallinfo,
	&.layout--lot_infos,
	&.layout--text_icon {
		.paragraph--type--text-box {
			text-align: center;
		}
	}

	&.layout--lot_infos-grey {
		background-color: $tieto-lightgrey;
	}

  &.layout--contacts {
    // @fixme this is mess but was quick
    @media screen and (min-width: 768px) {
      > .paragraph-inner > .field--name-field-title {
        width: 33%;
        float: left;
      }
      .field--name-field-paragraphs {
        width: 66%;
        float: left;
      }
    }
    .paragraph--type--text-box {
      position: relative;
      margin-bottom: 2em;
      .paragraph-inner {
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      .field--name-field-image {
        float: left;
        // position: relative;
        // left: 0;
        // top: 0;
        max-width: 30%;
        max-height: 100%;
        // text-align: right;
        img {
          max-height: 100%;
          width: auto;
          border-radius: 50%;
        }
      }
      .field--name-field-title {
        margin-bottom: 0;
      }
      .field--name-field-title,
      .field--name-field-text,
      .field--name-field-call-to-action {
        width: 66%;
        float: right;
      }
    }
  }

	@include md {
		&.layout--lot_infos .paragraph--type--text-box {
			text-align: left;
		}

		// Equal height columns
		&[class*="columns-"] > .paragraph-inner > .field--name-field-paragraphs {
			display: flex;
			flex-wrap: wrap;

			> .col > .paragraph-inner {
				height: 100%;
			}
		}
	}

}

// Text Boxes -> Text Box
.paragraph--type--text-box.paragraph--view-mode--default {
	background: inherit;

  // Some padding trickery.
  // @fixme Remove after merging tieto_base
  @include md {
    &.col-2:nth-child(2n+1),
    &.col-3:nth-child(3n+1),
    &.col-4:nth-child(4n+1) {
      padding-left: 0;
    }
    &.col-2:nth-child(2n+2),
    &.col-3:nth-child(3n+3),
    &.col-4:nth-child(4n+4) {
      padding-right: 0;
    }
  }

  .paragraph-inner {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 3em;
  }

  &.layout--none {
    padding: 0;
    .paragraph-inner {
      box-shadow: none;
      padding: 1em;
    }
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }

  // Text Box item title
  .field--name-field-title {
    @include campaign-title-item;
  }

  &.layout--normal .paragraph-inner {
    background-color: #f8f8f8; // @fixme Replace with variable.
  }

  &.layout--blue .paragraph-inner {
    color: white;
    background-color: $tieto-blue;
    .field--name-field-title {
      color: white;
    }
  }

  &.layout--red .paragraph-inner {
    color: white;
    background-color: $tieto-red;
    .field--name-field-title {
      color: white;
    }
  }

  &.layout--orange .paragraph-inner {
    color: white;
    background-color: $tieto-orange;
    .field--name-field-title {
      color: white;
    }
  }

  &.layout--green .paragraph-inner {
    color: white;
    background: $tieto-green;
    .field--name-field-title {
      color: white;
    }
  }

  .field--name-field-call-to-action {
    // @fixme after tieto_base merge.
    margin: 0;
    text-align: left;
    .button {
      padding: 0.25rem 1rem;
    }
  }
}
