@import "../vars";

$tieto-blue: #67afe1;
$tieto-lightblue: #cde6f5;
$tieto-green: #b2eb95;

.paragraph--type--campaign-header {
    background-color: rgba(103, 175, 225, .4);
    min-height: 570px;
    position: relative;

    .paragraph-inner {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		color: white;
		padding: 2em 2em 0;
    }

    .field--name-field-title,
    .field--name-field-secondary-title {
		line-height: normal;
		text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    }

    .field--name-field-secondary-title {
		font-weight: bold;
    	font-size: 2em;
    }

    .field--name-field-lead-text {
    	line-height: 1.5em;
    	margin-top: .5em;
    	text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    }

    .field--name-field-call-to-action {
    	margin-top: 2em;
    	a {
    		color: white;
    		display: inline-block;
    		padding: 1em 2em;
    		text-transform: uppercase;
    		background: rgba(0, 0, 0, .4);
    		border-radius: 3px;
    		border: 1px solid white;
    		font-size: .9em;
    		transition: background .3s;
    		&:hover, &:focus, &:active {
    			text-decoration: none;
    			background: rgba(0, 0, 0, .6);
    		}
    	}
    }
}

.paragraph--type--insights {
	padding: 30px;

	.field--name-field-text-demo {
		padding: 2em 3em;
		background: $tieto-lightblue;
	}
	.field--name-field-image-demo img {
		margin: 2em auto;
	}
}

.paragraph--type--tabs {
	padding: 30px;
	background: $tieto-green;

	.field--name-field-title {
		color: white;
	}

	.field--name-field-lead-text {
		margin-bottom: 1em;
	}

	.r-tabs-accordion-title {
		a {
			font-size: 1.5em;
			font-weight: bold;
			border-bottom: 3px solid black;
			display: block;
			padding: .5em 0;
			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}

		&.r-tabs-state-active a {
			border-color: white;
			color: white;
		}
	}
}

/**
 * TIETO CAMPAIGN SITES
 */

.tieto-onepage {
	position: relative;

	.field--name-field-title {
		font-size: 3em;
		font-weight: bold;
		text-align: center;
		line-height: normal;
		margin-bottom: .8em;
	}

	/**
	 * Header wrapper, which stays fixed.
	 */
	.page-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	/**
	 * Tieto logo.
	 */
	.logo {
		display: block;
		margin: 0 auto;
		text-align: center;
		height: 50px;
		background: $tieto-blue;

		img {
			height: 100%;
		}

		@include breakpoint(md) {
			background: 0;
			display: block;
			float: left;
			position: relative;

			img {
				height: auto;
				padding-left: 7px;
			}

			&::after {
				transform: rotate(12deg) skew(-32deg);
				content: " ";
				position: absolute;
				top: -100px;
				left: -50px;
				display: block;
				background: $tieto-blue;
				width: 200px;
				height: 200px;
				z-index: -1;
			}
		}
	}

	/**
	 * Campaign smoothscroll menu.
	 */
	.block.navigation {
		float: right;
	}

	.page-header .menu {
		text-align: center;
		margin: .5em 1em;
		float: right;
		font-weight: bold;

		> li {
		    display: inline-block;

		    &:hover a,
		    a.is-active {

		    }

		    > a {
		    	color: rgba(255, 255, 255, .8);
			    padding: .5em;
			    display: inline-block;
		    }
		}
	}
}