@import "../vars";

.paragraph--type--campaign-header-video,
.paragraph--type--campaign-header {

	.paragraph-inner {
		position: absolute;
		top: 50%;
		transform: translateY(-30%);
		left: 0;
		right: 0;
		width: 100%;
		color: white;
		padding: 2em 2em 0;
		z-index: 20;
		@include breakpoint-max(md) {
			transform: translateY(-50%);
			text-align: center;
		}
	}

    .field--name-field-title {
    	margin-bottom: 0;
    	display: inline-block;
    }
    .field--name-field-title,
    .field--name-field-secondary-title {
		line-height: normal;
		text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    }

    .field--name-field-secondary-title {
		font-weight: bold;
    	font-size: 2em;
    }

    .field--name-field-lead-text {
    	line-height: 1.5em;
    	margin-top: .5em;
    	text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    }

    .field--name-field-call-to-action {
    	margin-top: 2em;
    	@include md {
    		float: right;
    		margin-top: -3em;
    		width: 50%;
    		text-align: center;
    	}
    	a {
    		color: white;
    		display: inline-block;
    		padding: 1em 2em;
    		margin-bottom: 1em;
    		text-transform: uppercase;
    		background: rgba(0, 0, 0, .4);
    		border-radius: 3px;
    		border: 1px solid white;
    		font-size: .9em;
    		transition: background .3s;
    		&:hover, &:focus, &:active {
    			text-decoration: none;
    			background: rgba(0, 0, 0, .6);
    		}
    	}
    }

    @include md {
    	.field--name-field-title,
    	.field--name-field-secondary-title,
    	.field--name-field-lead-text {
			width: 50%;
			text-align: left;
			float: left;
			clear: left;
    	}
    }
}

.paragraph--type--campaign-header {
    background-color: rgba(103, 175, 225, .4);
    min-height: 570px;
    position: relative;
}


.paragraph--type--campaign-header-video {

    #video-outer {
        min-height: 570px;
    }

    #video-wrap {
        position: relative;
    }

    #video-wrap::before {
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(103, 175, 225, .4);
        z-index: 10;
    }
}