.node-parade-demo-form,
.node-parade-demo-edit-form {
    .field--name-field-menu {
        .field-multiple-table {
            td {
                padding: .5em 0;
            }
            .form-item {
                float: left;

                width: 50%;
                padding-left: .5em;
            }
            a.tabledrag-handle {
                top: 10px;

                margin-left: 0;
            }
        }
    }

    .paragraph-type-top {
        float: none;
        clear: none;

        margin-bottom: .5em;
    }

    .paragraphs-subform > .form-wrapper {
        margin: 1em 0;
    }

    .tabledrag-toggle-weight-wrapper,
    td.tabledrag-hide {
        display: none !important;
    }

    .field-multiple-table {
        width: 100%;

        th.field-label {
            text-align: left;
        }

        tr {
            border-bottom: 1px solid #e3e3e3;
        }

        .drag,
        .drag-previous {
            background-color: #f3f3f3;
        }

        td {
            padding: 1.2em 0 1.2em .5em;
        }

        .field-multiple-drag {
            position: relative;

            padding: 1.2em 0;
            abbr.tabledrag-changed {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                color: transparent;
                background: #f3f3f3;
            }
        }

        a.tabledrag-handle {
            position: absolute;
            z-index: 1;
            top: 1em;

            margin-left: 0;
            .handle {
                height: 17px;
                margin: 5px;

                background-position: 0 0;
            }
        }
    }

    .paragraph-type-title {
        float: left;
    }

    .paragraphs-button-wrapper {
        margin: 2em 0;
    }

    .paragraph-actions {
        display: inline-block;

        margin: 0;
        margin-left: 1em;
        padding: 0;

        list-style: none;

        li:first-child {
            margin-left: 0;
        }

        .button {
            padding: 5px 1em;
            box-shadow: 0;
        }

        > li {
            display: inline-block;
            margin-left: 1em;
        }
    }
}
