.paragraph--type--image-text.paragraph--view-mode--default {
    // Layout: Common styles
    &.layout--text_1st,
    &.layout--image_1st {

        // .field--name-field-title {
        //     @include campaign-headline;
        //     color: $text-color-strong;
        // }

        .field--name-field-title,
        .field--name-field-text,
        .field--name-field-image {
            @media screen and (min-width: 768px) {
                width: 50%;
            }
        }

        .field--name-field-image {
            margin: 1em 0 0;
            text-align: center;
            @media screen and (min-width: 768px) {
                margin: 0;
                text-align: right;
            }
        }

        @media screen and (min-width: 768px) {
            .field--name-field-title,
            .field--name-field-text {
                text-align: left;
            }
        }
    }

    // Call to action buttons.
    .field--name-field-call-to-action {
        clear: both;
        .field__item {
            display: inline-block;
        }
        a {
            display: inline-block;

            margin-right: .5em;
            padding: .7em 1.4em;

            transition: background .3s;

            color: white;
            // background: $tieto-blue;
            border-radius: 3px;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
                // background: lighten($tieto-blue, 5%);
            }
        }
    }

    // Layout: Text first
    &.layout--text_1st {
        @media screen and (min-width: 768px) {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: left;
            }
            // Image
            .field--name-field-image {
                float: right;

                padding-left: 1.5em;
            }
        }
    }

    // Layout: Image first
    &.layout--image_1st {
        @media screen and (min-width: 768px) {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: right;
            }
            // Image
            .field--name-field-image {
                float: left;

                padding-right: 1.5em;
            }
            // Call to action buttons.
            .field--name-field-call-to-action {
                float: right;

                width: 50%;
            }
        }
    }

    // Layout: Enhanced
    &.layout--text_1st_enhanced,
    &.layout--image_1st_enhanced {
        // Title // .field--name-field-title {
        //     @include campaign-title-center;
        // }

        // Text
        .field--name-field-text {
            padding: 2em;
            // background: $tieto-lightblue;

            @media screen and (min-width: 768px) {
                width: 60%;
                padding-right: 4em;
            }
        }

        // Image
        .field--name-field-image {
            // background: $tieto-lightblue;
            padding: 2em 0 0;

            text-align: center;

            img {
                display: block;
            }

            @media screen and (min-width: 768px) {
                float: right;

                width: 40%;
                margin: 2em 0 0 0;
                padding: 0;

                transform: translateX(-2em);
                text-align: left;

                background: 0;
            }
        }
        // Call to action buttons.
        .field--name-field-call-to-action {
            float: right;
            width: 40%;
            margin-top: -1.5em;
            text-align: center;
        }
    }
}
