/**
 * @file
 * HEADER paragraph
 */

.paragraph--type--header.paragraph--view-mode--default {

  .background {
    position: relative;
    overflow: hidden;
    height: 600px;
    max-height: 100vh;

    // Overlay over the background image/video.
    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
    }

    .background-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      &.parallax {
        top: -20%;
      }
    }

    .background-video,
    .background-image {
      min-width: 100%;
      min-height: 100%;
    }

    .background-image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  // Call to action buttons.
  .field--name-field-call-to-action {
    .field__item, a {
      display: inline-block;
    }
  }

  // Content wrapper.
  .paragraph-inner {
    position: relative;
    z-index: 20;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    padding: 2em 1em;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      text-align: center;
    }
  }
}
