// Text Boxes
.paragraph--type--text-boxes.paragraph--view-mode--default {
    // Main Title // .field--name-field-title {
    //  @include campaign-title;
    //  color: $text-color-strong;
    // }

    // Layouts
    &.layout--smallinfo,
    &.layout--lot_infos,
    &.layout--text_icon {
        .paragraph--type--text-box {
            text-align: center;
        }
    }
    // &.layout--lot_infos-grey {
    //  background-color: $tieto-lightgrey;
    // }

    @media screen and (max-width: 768px) {
        &.layout--lot_infos .paragraph--type--text-box {
            text-align: left;
        }
    }
}

// Text Boxes -> Text Box
.paragraph--type--text-box.paragraph--view-mode--default {
    padding: 2em 1em;

    background: inherit;

    // Text Box item title // .field--name-field-title {
    //  @include campaign-title-item;
    // }
}
