/**
 * TIETO CAMPAIGN SITES
 */
#page-tieto {
  position: relative;
  /**
	 * Tieto logo.
	 */
  /**
	 * Header wrapper, which stays fixed.
	 */
}

#page-tieto .field--name-field-title,
#page-tieto .field--name-field-secondary-title {
  text-align: center;
}

@media (min-width: 767px) {
  #page-tieto .paragraph--type--campaign-header-video .field--name-field-title,
  #page-tieto .paragraph--type--campaign-header-video .field--name-field-secondary-title,
  #page-tieto .paragraph--type--campaign-header .field--name-field-title,
  #page-tieto .paragraph--type--campaign-header .field--name-field-secondary-title {
    text-align: left;
  }
}

#page-tieto .paragraph {
  background-color: white;
  clear: both;
}

#page-tieto .logo {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  background: #67afe1;
  padding: 0 10px;
}

#page-tieto .logo img {
  height: 100%;
}

@media (min-width: 767px) {
  #page-tieto .logo {
    background: 0;
    display: block;
    float: left;
    position: relative;
  }
  #page-tieto .logo img {
    height: auto;
    padding-left: 7px;
  }
  #page-tieto .logo::after {
    transform: rotate(12deg) skew(-32deg);
    content: " ";
    position: absolute;
    top: -100px;
    left: -50px;
    display: block;
    background: #67afe1;
    width: 200px;
    height: 200px;
    z-index: -1;
  }
}

#page-tieto #contact-message-contact-us-form {
  position: relative;
}

@media (min-width: 767px) {
  #page-tieto #contact-message-contact-us-form .form-item-mail,
  #page-tieto #contact-message-contact-us-form .form-item-name,
  #page-tieto #contact-message-contact-us-form .field--name-field-company,
  #page-tieto #contact-message-contact-us-form .field--name-message {
    width: 50%;
    display: inline-block;
    padding: 0 1em;
  }
  #page-tieto #contact-message-contact-us-form .field--name-message {
    position: absolute;
    top: 0;
    right: 0;
  }
  #page-tieto #contact-message-contact-us-form .form-actions {
    clear: both;
  }
}

#page-tieto #contact-message-contact-us-form #edit-submit {
  color: white;
  display: inline-block;
  padding: 1em 2em;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  border: 1px solid white;
  font-size: .9em;
  transition: background .3s;
}

#page-tieto #contact-message-contact-us-form #edit-submit:hover, #page-tieto #contact-message-contact-us-form #edit-submit:focus, #page-tieto #contact-message-contact-us-form #edit-submit:active {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
}

#page-tieto #contact-message-contact-us-form #edit-preview {
  display: none;
}

#page-tieto .block-contact-block {
  background: white;
  padding: 2em;
}

#page-tieto .block-contact-block:before, #page-tieto .block-contact-block:after {
  content: "";
  display: table;
}

#page-tieto .block-contact-block:after {
  clear: both;
}

#page-tieto .block-contact-block .title {
  text-align: center;
}

#page-tieto .block-contact-block .title,
#page-tieto .field--name-field-title {
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
  margin-bottom: .8em;
}

#page-tieto .paragraph-inner {
  max-width: 1000px;
  margin: 0 auto;
}

#page-tieto .page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background .2s;
}

@media (min-width: 767px) {
  #page-tieto .page-header.fixed {
    background: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 766px) {
  #page-tieto .page-header {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    height: 50px;
    background: #67afe1;
  }
}

@media (max-width: 766px) {
  #page-tieto .region-header {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    max-height: 0;
    transition: max-height .3s;
    will-change: max-height;
    overflow-y: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

#page-tieto .region-header .menu {
  margin: 0;
}

@media (min-width: 767px) {
  #page-tieto .region-header .menu {
    margin: 1em;
    float: right;
  }
}

#page-tieto .region-header .menu-item {
  list-style: none;
  padding: 0;
}

@media (min-width: 767px) {
  #page-tieto .region-header .menu-item {
    display: inline-block;
  }
}

#page-tieto .hamburger {
  padding: 0;
  width: 50px;
  height: 50px;
  float: right;
}

@media (min-width: 767px) {
  #page-tieto .hamburger {
    display: none;
  }
}

@media (max-width: 766px) {
  #page-tieto .hamburger.is-active + .region-header {
    max-height: 259px;
  }
}

#page-tieto .hamburger:active, #page-tieto .hamburger:focus {
  outline: none;
}

#page-tieto .hamburger .hamburger-inner, #page-tieto .hamburger .hamburger-inner::before, #page-tieto .hamburger .hamburger-inner::after {
  width: 30px;
  background-color: white;
}

#page-tieto .hamburger .hamburger-box {
  width: 30px;
  height: 29px;
}

#page-tieto .hamburger .hamburger-toggle {
  color: white;
  width: 50px;
  height: 50px;
}

#page-tieto .hamburger .hamburger-toggle:hover, #page-tieto .hamburger .hamburger-toggle:active, #page-tieto .hamburger .hamburger-toggle:focus {
  text-decoration: none;
}

@media (min-width: 767px) {
  #page-tieto .hamburger .hamburger-toggle {
    display: none;
  }
}

#page-tieto .page-header .menu > li > a {
  color: rgba(255, 255, 255, 0.9);
  padding: .5em 1em .5em 3em;
  display: block;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 767px) {
  #page-tieto .page-header .menu > li > a {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: .5em;
  }
}

#page-tieto .paragraph--type--insights {
  padding: 30px;
}

#page-tieto .paragraph--type--insights .field--name-field-text-demo {
  padding: 2em 3em;
  background: #cde6f5;
}

@media (min-width: 767px) {
  #page-tieto .paragraph--type--insights .field--name-field-text-demo {
    padding-right: 6em;
    width: 50%;
    display: inline-block;
  }
}

@media (min-width: 767px) {
  #page-tieto .paragraph--type--insights .field--name-field-image-demo {
    transform: translateX(-2em);
    margin-top: 5em;
    width: 50%;
    float: right;
  }
}

#page-tieto .paragraph--type--tabs {
  padding: 30px;
  background: #b2eb95;
}

#page-tieto .paragraph--type--tabs .field--name-field-title {
  color: white;
}

#page-tieto .paragraph--type--tabs .field--name-field-lead-text {
  margin-bottom: 1em;
}

#page-tieto .paragraph--type--tabs .r-tabs-panel {
  clear: both;
}

@media (min-width: 767px) {
  #page-tieto .paragraph--type--tabs .r-tabs-accordion-title, #page-tieto .paragraph--type--tabs .r-tabs-tab {
    float: left;
    width: 33.333%;
  }
}

#page-tieto .paragraph--type--tabs .r-tabs-accordion-title a, #page-tieto .paragraph--type--tabs .r-tabs-tab a {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 3px solid black;
  display: block;
  padding: .5em 0;
}

@media (min-width: 767px) {
  #page-tieto .paragraph--type--tabs .r-tabs-accordion-title a, #page-tieto .paragraph--type--tabs .r-tabs-tab a {
    padding: .5em;
    text-align: center;
  }
}

#page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:hover, #page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:focus, #page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:active, #page-tieto .paragraph--type--tabs .r-tabs-tab a:hover, #page-tieto .paragraph--type--tabs .r-tabs-tab a:focus, #page-tieto .paragraph--type--tabs .r-tabs-tab a:active {
  text-decoration: none;
}

#page-tieto .paragraph--type--tabs .r-tabs-accordion-title.r-tabs-state-active a, #page-tieto .paragraph--type--tabs .r-tabs-tab.r-tabs-state-active a {
  border-color: white;
  color: white;
}

#page-tieto .paragraph--type--link-with-background {
  background-color: rgba(103, 175, 225, 0.4);
  min-height: 200px;
}

#page-tieto .paragraph--type--link-with-background .field--name-field-url {
  text-align: center;
  display: table;
  width: 100%;
  height: 200px;
}

#page-tieto .paragraph--type--link-with-background .field--name-field-url a {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
  color: white;
}

#page-tieto .paragraph--type--link-with-background .field--name-field-url a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
      .public-text, .public-image {
        width: 98%;
        margin: 1%;
        padding: 1%;
        margin: 0 auto;
             }
       .public-wide {
        width: 1000px;
        margin: 0px -250px;
      }
 }

@media only screen and (min-width: 721px) {
      .public-text, .public-image {
        float: left;
        width: 46%;
        margin: 1%;
        padding: 1%;
        margin: 0 auto;
        padding: 50px 0px;
      }
      .public-wide {
        width: 1600px;
        margin: 0px -400px;
      }
 }

.public-image {
   float: right;
}
 
.public-text-h2 {
  font-size: 30px;
  font-weight: bold;
}

.public-video {
  font-size: 17px;
  text-align: center;
  width: 580px;
  background: #cde6f5;
  margin: 0 auto;
}

.public-wide {
  background: #cde6f5;
  padding: 50px 0px;
}



.clearfix::before, .celarfix::after {
    content: " ";
    display: table;
}
.clearfic::after {
    clear: both;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
#page-tieto {
    position: relative;
}
#page-tieto h3 {
    color: #58595b;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 1em;
    margin-bottom: 60px;
    margin-top: 0;
}
#page-tieto .field--name-field-title, #page-tieto .field--name-field-secondary-title {
    text-align: center;
}
@media (min-width: 767px) {
#page-tieto .paragraph--type--campaign-header-video .field--name-field-title, #page-tieto .paragraph--type--campaign-header-video .field--name-field-secondary-title, #page-tieto .paragraph--type--campaign-header .field--name-field-title, #page-tieto .paragraph--type--campaign-header .field--name-field-secondary-title {
    text-align: left;
}
}
#page-tieto .paragraph {
    background-color: white;
    clear: both;
}
#page-tieto .logo {
    background: #67afe1 none repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}
#page-tieto .logo img {
    height: 100%;
}
@media (min-width: 767px) {
#page-tieto .logo {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    display: block;
    float: left;
    position: relative;
}
#page-tieto .logo img {
    height: auto;
    padding-left: 7px;
}
#page-tieto .logo::after {
    background: #67afe1 none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 200px;
    left: -50px;
    position: absolute;
    top: -100px;
    transform: rotate(12deg) skew(-32deg);
    width: 200px;
    z-index: -1;
}
}
#page-tieto #contact-message-contact-us-form {
    position: relative;
}
@media (min-width: 767px) {
#page-tieto #contact-message-contact-us-form .form-item-mail, #page-tieto #contact-message-contact-us-form .form-item-name, #page-tieto #contact-message-contact-us-form .field--name-field-company, #page-tieto #contact-message-contact-us-form .field--name-message {
    display: inline-block;
    padding: 0 1em;
    width: 50%;
}
#page-tieto #contact-message-contact-us-form .field--name-message {
    position: absolute;
    right: 0;
    top: 0;
}
#page-tieto #contact-message-contact-us-form .form-actions {
    clear: both;
}
}
#page-tieto #contact-message-contact-us-form #edit-submit {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.9em;
    padding: 1em 2em;
    text-transform: uppercase;
    transition: background 0.3s ease 0s;
}
#page-tieto #contact-message-contact-us-form #edit-submit:hover, #page-tieto #contact-message-contact-us-form #edit-submit:focus, #page-tieto #contact-message-contact-us-form #edit-submit:active {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    text-decoration: none;
}
#page-tieto #contact-message-contact-us-form #edit-preview {
    display: none;
}
#page-tieto .block-contact-block {
    background: white none repeat scroll 0 0;
    padding: 2em;
}
#page-tieto .block-contact-block::before, #page-tieto .block-contact-block::after {
    content: "";
    display: table;
}
#page-tieto .block-contact-block::after {
    clear: both;
}
#page-tieto .block-contact-block .title {
    text-align: center;
}
#page-tieto .block-contact-block .title, #page-tieto .field--name-field-title {
    font-size: 1.875em;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 45px;
}
#page-tieto .heading-type3 {
    border-bottom: 1px solid #969696;
    color: #969696;
    font-size: 0.875em;
    letter-spacing: 0.2em;
    margin-bottom: 90px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
#page-tieto .normal-txt {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
}
#page-tieto .normal-txt span {
    font-weight: bold;
}
#page-tieto .paragraph-inner {
    margin: 0 auto;
    max-width: 800px;
}
#page-tieto .page-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background 0.2s ease 0s;
    z-index: 1000;
}
@media (min-width: 767px) {
#page-tieto .page-header.fixed {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
}
@media (max-width: 766px) {
#page-tieto .page-header {
    backface-visibility: hidden;
    background: #67afe1 none repeat scroll 0 0;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    height: 50px;
}
}
@media (max-width: 766px) {
#page-tieto .region-header {
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    left: 0;
    max-height: 0;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 50px;
    transition: max-height 0.3s ease 0s;
    will-change: max-height;
}
}
#page-tieto .region-header .menu {
    margin: 0;
}
@media (min-width: 767px) {
#page-tieto .region-header .menu {
    float: right;
    margin: 1em;
}
}
#page-tieto .region-header .menu-item {
    list-style: outside none none;
    padding: 0;
}
@media (min-width: 767px) {
#page-tieto .region-header .menu-item {
    display: inline-block;
}
}
#page-tieto .hamburger {
    float: right;
    height: 50px;
    padding: 0;
    width: 50px;
}
@media (min-width: 767px) {
#page-tieto .hamburger {
    display: none;
}
}
@media (max-width: 766px) {
#page-tieto .hamburger.is-active + .region-header {
    max-height: 259px;
}
}
#page-tieto .hamburger:active, #page-tieto .hamburger:focus {
    outline: medium none;
}
#page-tieto .hamburger .hamburger-inner, #page-tieto .hamburger .hamburger-inner::before, #page-tieto .hamburger .hamburger-inner::after {
    background-color: white;
    width: 30px;
}
#page-tieto .hamburger .hamburger-box {
    height: 29px;
    width: 30px;
}
#page-tieto .hamburger .hamburger-toggle {
    color: white;
    height: 50px;
    width: 50px;
}
#page-tieto .hamburger .hamburger-toggle:hover, #page-tieto .hamburger .hamburger-toggle:active, #page-tieto .hamburger .hamburger-toggle:focus {
    text-decoration: none;
}
@media (min-width: 767px) {
#page-tieto .hamburger .hamburger-toggle {
    display: none;
}
}
#page-tieto .page-header .menu > li > a {
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 3em;
    text-align: center;
}
@media (min-width: 767px) {
#page-tieto .page-header .menu > li > a {
    padding: 0.5em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
}
#page-tieto .paragraph--type--insights {
    padding: 90px 30px;
}
#page-tieto .paragraph--type--insights .field--name-field-text-demo {
}
@media (min-width: 767px) {
#page-tieto .paragraph--type--insights .field--name-field-text-demo {
    display: inline-block;
    width: 50%;
}
}
@media (min-width: 767px) {
#page-tieto .paragraph--type--insights .field--name-field-image-demo {
    float: right;
    width: 50%;
}
}
#page-tieto .paragraph--type--tabs {
    background: #d1e7f6 none repeat scroll 0 0;
    padding: 90px 30px;
}
#page-tieto .paragraph--type--tabs .field--name-field-title {
    color: black;
}
#page-tieto .paragraph--type--tabs .field--name-field-lead-text {
    margin-bottom: 1em;
}
#page-tieto .paragraph--type--tabs .r-tabs-panel {
    clear: both;
}
@media (min-width: 767px) {
#page-tieto .paragraph--type--tabs .r-tabs-accordion-title, #page-tieto .paragraph--type--tabs .r-tabs-tab {
    float: left;
    width: 33.333%;
}
}
#page-tieto .paragraph--type--tabs .r-tabs-accordion-title a, #page-tieto .paragraph--type--tabs .r-tabs-tab a {
    border-bottom: 3px solid black;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.5em 0;
}
@media (min-width: 767px) {
#page-tieto .paragraph--type--tabs .r-tabs-accordion-title a, #page-tieto .paragraph--type--tabs .r-tabs-tab a {
    padding: 0.5em;
    text-align: center;
}
}
#page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:hover, #page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:focus, #page-tieto .paragraph--type--tabs .r-tabs-accordion-title a:active, #page-tieto .paragraph--type--tabs .r-tabs-tab a:hover, #page-tieto .paragraph--type--tabs .r-tabs-tab a:focus, #page-tieto .paragraph--type--tabs .r-tabs-tab a:active {
    text-decoration: none;
}
#page-tieto .paragraph--type--tabs .r-tabs-accordion-title.r-tabs-state-active a, #page-tieto .paragraph--type--tabs .r-tabs-tab.r-tabs-state-active a {
    border-color: white;
    color: white;
}
#page-tieto .paragraph--type--link-with-background {
    background-color: rgba(103, 175, 225, 0.4);
    min-height: 200px;
}
#page-tieto .paragraph--type--link-with-background .field--name-field-url {
    display: table;
    height: 200px;
    text-align: center;
    width: 100%;
}
#page-tieto .paragraph--type--link-with-background .field--name-field-url a {
    color: white;
    display: table-cell;
    font-size: 3em;
    font-weight: bold;
    line-height: normal;
    vertical-align: middle;
}
#page-tieto .paragraph--type--link-with-background .field--name-field-url a:hover {
    text-decoration: none;
}
@media (max-width: 766px) {
body.toolbar-vertical #toolbar-administration {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
}
body.toolbar-vertical .paragraphs-page .page-header {
    top: 39px;
}
body.toolbar-horizontal .paragraphs-page .page-header {
    top: 39px;
}
body.toolbar-horizontal.toolbar-tray-open .paragraphs-page .page-header {
    top: 78px;
}
#page-tieto .half-box {
    float: left;
    padding: 0 30px;
    width: 50%;
}
.half-box > .header-txt {
    min-height: 75px;
    text-align: center;
}
.half-box > img {
    margin: 30px 0;
}
#page-tieto .contact-box {
    float: left;
    padding-bottom: 30px;
    text-align: center;
    width: 50%;
}
#page-tieto .contact-box > img {
    display: block;
    margin: 0 auto 20px;
}
#page-tieto .header-txt {
    color: #6eaedc;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 20px;
}
#page-tieto .contact-box > a, #page-tieto .contact-box .contact-mobile {
    font-weight: bold;
}
.border-bottom {
    border-bottom: 1px solid #cccccc;
}
#page-tieto .form-field {
    margin-bottom: 25px;
    width: 50%;
}
#page-tieto .form-field-full {
    margin-bottom: 25px;
    width: 100%;
}
#page-tieto .form-field > label {
    font-size: 0.875em;
}
#page-tieto .form-field > input {
    border: 1px solid #6eaedc;
    height: 45px;
    width: 100%;
}
#page-tieto .form-field-full > textarea {
    border: 1px solid #6eaedc;
    width: 100%;
}
#page-tieto .send-btn {
    background-color: #0a6aa4;
    border: 0 none;
    border-radius: 2px;
    color: white;
    display: block;
    height: 40px;
    margin: 0 auto;
    width: 110px;
}

