@import "../vars";

/**
 * Content header.
 */
.content-header {
  background-color: $brand-primary;
  color: white;

  a, .link {
    color: white;
    text-decoration: none;
  }

  .menu-item {
    padding-top: 0;
  }

  .logo {
    margin: 0 auto;
    font-size: $font-size-base;
    display: block;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: .5em 0;
    @include breakpoint(md) {
      line-height: $header-line-height;
      padding: .2em 0;
      font-size: $font-size-base;
      float: left;
      text-align: left;
    }
  }
}

.block.navigation > .menu {
  text-align: center;
  margin: 0;
  float: right;
  font-size: $font-size-base;
  > li {
    line-height: $header-line-height;
    position: relative;
    display: inline-block;
    margin: 0 .2em;
    &:hover a,
    a.is-active {
      background: white;
      color: $brand-primary;
      transition: background .2s, color .2s;
    }
    > a {
      padding: .2em .7em;
      display: inline-block;
      will-change: background, color;
    }
    &:hover > .menu {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    > .menu {
      visibility: hidden;
      z-index: 1000;
      margin: 0;
      background: white;
      position: absolute;
      width: 180px;
      left: 0;
      text-align: left;
      backface-visibility: hidden;
      transition: transform .2s, opacity .4s;
      transform: translateY(-100%);
      opacity: 0;

      @include breakpoint(md) {
        right: 0;
        left: auto;
        text-align: right;
      }
      border: 1px solid #ddd;
      box-shadow: $box-shadow-1;
      > li {
        display: block;
        line-height: normal;
        padding: 0;
        margin: 0;
      }
      a {
        &:hover {
          background: rgba(0, 0, 0, .1);
        }
        color: $brand-primary;
        display: block;
        padding: .5em 1em;
      }
    }
  }
}
