.node-campaign-edit-form {

  .field--name-field-menu {
    td {
      padding: .5em 0;
    }
    .field-multiple-table .form-item {
      width: 50%;
      float: left;
      padding-left: .5em;
    }
    a.tabledrag-handle {
      margin-left: 0;
    }
  }

  .paragraph-type-top {
    clear: none;
    float: none;
    margin-bottom: 1em;
  }

  .paragraphs-subform > .form-wrapper {
    margin: 1em 0;
  }

  // Ugly hacks
  .tabledrag-toggle-weight-wrapper, td.tabledrag-hide {
    display: none !important;
  }

  .field-multiple-table {
    width: 100%;

    tr {
      border-bottom: 1px solid #e3e3e3;
    }

    .field-multiple-drag {
      position: relative;
      abbr.tabledrag-changed {
        position: absolute;
        color: red;
        font-size: 1.4em;
        top: 11px;
        left: -10px;
      }
    }

    a.tabledrag-handle .handle {
      background-position: 0 0;
      height: 17px;
      margin: 5px;
    }

  }


  .paragraph-type-title {
    float: left;
  }

  .paragraph-actions {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;

    > li {
      margin-left: 1em;
      display: inline-block;
    }
  }
}

.paragraph.paragraph--view-mode--default {
	@include clearfix;
	padding: 40px 1em;
	background-color: #fff;

	// Some fixes for WYSIWYG fields.
	.field.text-formatted {
		.align-right {
			margin-left: 1.5em;
		}
		.align-left {
			margin-right: 1.5em;
		}
	}

  // Preview mode (forms)
  &.paragraph--view-mode--preview {
    iframe, img, video {
      display: none;
    }
  }

  .paragraph-inner {
    max-width: $page-max-width;
    margin: 0 auto;
  }

}
