/**
 * @file
 * HEADER paragraph
 */
$paragraph-header-height: 570px;
$paragraph-header-overlay: rgba(103, 175, 225, .5); // @todo move to variables (e.g. $tieto-lightblue)

.paragraph--type--header {
    position: relative;

    // Overlay color over the background image/video.
    .background-overlay {
        background-color: $paragraph-header-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // Title, Secondary title.
    .field--name-field-title {
        font-size: 3rem;
        margin-bottom: 0;
        display: inline-block;
    }

    .field--name-field-secondary-title {
        font-size: $font-size-h3;
    }

    .field--name-field-title,
    .field--name-field-secondary-title {
        font-family: $helvetica-bold;
        line-height: normal;
        letter-spacing: -1px;
        font-weight: bold;
    }

    // Lead Text.
    .field--name-field-lead-text {
        margin-top: .5em;
        text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    }

    // Call to action buttons.
    .field--name-field-call-to-action {
        margin-top: 2em;

        @include md {
            float: right;
            margin-top: -3em;
            width: 50%;
            text-align: center;
        }
        a {
            color: white;
            display: inline-block;
            padding: 1em 2em 0.7em 2em;
            text-transform: uppercase;
            background: rgba(0, 0, 0, .4);
            border-radius: 3px;
            border: 1px solid white;
            transition: background .3s;
            &:hover, &:focus, &:active {
                text-decoration: none;
                background: rgba(0, 0, 0, .6);
            }
        }
    }

    @include md {
        .field--name-field-title,
        .field--name-field-secondary-title,
        .field--name-field-lead-text {
            width: 50%;
            text-align: left;
            float: left;
            clear: left;
        }
    }

    // Image background.
    &.paragraph--background-image {

        min-height: $paragraph-header-height;
        position: relative;

        .paragraph-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-30%);
            left: 0;
            right: 0;
            width: 100%;
            color: white;
            padding: 2em 2em 0;
            z-index: 20;
            @include breakpoint-max(md) {
                transform: translateY(-50%);
                text-align: center;
            }
        }
    }

    // Video background.
    &.paragraph--background-video {

        .video-outer {
            min-height: $paragraph-header-height;
        }

        .video-wrapper {
            position: relative;

            &::before {
                content: " ";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: $paragraph-header-overlay;
                z-index: 10;
            }
        }
    }
}