.paragraph--type--image-text {

    // Layout: Common styles
    &.layout--text_1st,
    &.layout--image_1st {

        // Title
        .field--name-field-title {
            @extend .campaign-headline;
        }

        // Title and Text
        .field--name-field-title,
        .field--name-field-text {
            text-align: center;
            @include md {
                width: 50%;
            }
        }

        // Image
        .field--name-field-image {
            text-align: center;
            @include md {
                width: 50%;
            }
        }
    }

    // Layout: Text first
    &.layout--text_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: left;
                text-align: left;
            }
            // Image
            .field--name-field-image {
                float: right;
            }
        }
    }

    // Layout: Image first
    &.layout--image_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: right;
                text-align: right;
            }
            // Image
            .field--name-field-image {
                float: left;
            }
        }
    }

    // Layout: Enhanced
    &.layout--text_1st_enhanced,
    &.layout--image_1st_enhanced {

        // Title
        .field--name-field-title {
            @extend .campaign-title-center;
        }

        // Text
        .field--name-field-text {
            padding: 2em 3em;
            background: $tieto-lightblue;

            @include md {
                padding-right: 4em;
                width: 60%;
            }
        }

        // Image
        .field--name-field-image {
            text-align: center;
            margin: 0 0 2em 0;

            @include md {
                text-align: left;
                margin: 2em 0 0 0;
                transform: translateX(-2em);
                width: 40%;
                float: right;
            }
        }
    }
}