.paragraph--type--image-text {

    // Layout: Common styles
    &.layout--text_1st,
    &.layout--image_1st {

        .field--name-field-title {
            @include campaign-headline;
            color: $text-color-strong;
        }

        .field--name-field-title,
        .field--name-field-text,
        .field--name-field-image {
            @include md {
                width: 50%;
            }
        }

        .field--name-field-image {
            text-align: center;
            margin: 1em 0 0;
            @include md {
                margin: 0;
                text-align: right;
            }
        }

        @include md {
            .field--name-field-title,
            .field--name-field-text {
                text-align: left;
            }
        }
    }

    // Layout: Text first
    &.layout--text_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: left;
            }
            // Image
            .field--name-field-image {
                float: right;
            }
        }
    }

    // Layout: Image first
    &.layout--image_1st {

        @include md {
            // Title and Text
            .field--name-field-title,
            .field--name-field-text {
                float: right;
            }
            // Image
            .field--name-field-image {
                float: left;
            }
        }
    }

    // Layout: Enhanced
    &.layout--text_1st_enhanced,
    &.layout--image_1st_enhanced {

        // Title
        .field--name-field-title {
            @include campaign-title-center;
        }

        // Text
        .field--name-field-text {
            padding: 2em;
            background: $tieto-lightblue;

            @include md {
                padding-right: 4em;
                width: 60%;
            }
        }

        // Image
        .field--name-field-image {
            text-align: center;
            background: $tieto-lightblue;
            padding: 2em 0 0;

            img {
                display: block;
            }

            @include md {
                text-align: left;
                background: 0;
                padding: 0;
                margin: 2em 0 0 0;
                transform: translateX(-2em);
                width: 40%;
                float: right;
            }
        }
    }
}