.paragraph--type--image-text {

    background-color: white;
    margin: 0 auto;
    max-width: 800px;
    padding: 90px 30px;

  &.layout--text_1st {



    .field--name-field-title {
      color: $text-color;
      font-size: 3em;
      font-weight: bold;
      letter-spacing: -0.03em;
      line-height: 1em;
      margin-bottom: 60px;
      margin-top: 0;
      width: 50%;
    }

    .field--name-field-image {
      max-width: 50%;
      float: right;
      background-color: red;
      margin-top: -13em;
   
    }

    .field--name-field-text {
      width: 50%;
    }

  }

   &.layout--image_1st {

    .field--name-field-title {
   
    }

    .field--name-field-image {
   
    }

    .field--name-field-text {
    
    }

  }
 
  &.layout--text_1st_enhanced {


    .field--name-field-title {
      font-size: 1.875em;
      font-weight: bold;
      line-height: normal;
      margin: 0 auto 45px auto;
      width: 100%;
      text-align: center;
    }

    .field--name-field-image {
      @include md {
        transform: translateX(-2em);
        margin-top: 5em;
        width: 50%;
        float: right;
      }
    }

    .field--name-field-text {
      padding: 2em 3em;
      background: $tieto-lightblue;

      @include md {
        padding-right: 6em;
        width: 50%;
        display: inline-block;
      }
    }

  } 
}