// Text Boxes
.paragraph--type--text-boxes {

	// Main Title
	.field--name-field-title {
		@extend .campaign-title-center;
	}

	// Layouts
	&.layout--text_icon .paragraph--type--text-box {
		text-align: center;
	}

}

// Text Boxes -> Text Box
.paragraph--type--text-box {
	padding: 1em;

	@include md {
		float: left;
	}

	// Text Box item title
	.field--name-field-title {
		@extend .campaign-title-item;
	}
}
