

// .page-header  {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 1000;
// 	transition: background .2s;

// 	@include breakpoint(md) {
// 		&.fixed {
// 			background: rgba(0, 0, 0, .5);
// 		}
// 	}

// 	@include breakpoint-max(md) {
// 		backface-visibility: hidden;
// 		box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
// 		height: $header-height;
// 		background: $tieto-blue;
// 	}

// 	.menu > li > a {
//     	color: rgba(255, 255, 255, .9);
// 	    padding: .5em 1em .5em 3em;
// 	    @include md {
// 	    	text-shadow: 0 0 5px rgba(0, 0, 0, .3);
// 	    	padding: .5em;
// 	    }
// 	    display: block;
// 	    font-weight: bold;
// 	    text-align: center;
// 	}
// }



/**
 * Tieto logo.
 */
.logo {
	display: block;
	background: $tieto-blue;
	padding: 0 10px;
	height: 50px;

	img {
		height: 100%;
	}

	@include md {
		background: 0;
		display: block;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1001;

		img {
			height: auto;
			padding-left: 7px;
		}

		&::after {
			transform: rotate(12deg) skew(-32deg);
			content: " ";
			position: absolute;
			top: -100px;
			left: -50px;
			display: block;
			background: $tieto-blue;
			width: 200px;
			height: 200px;
			z-index: -1;
		}
	}
}