/**
 * Tieto logo.
 */
.logo {
	display: block;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 501;

	&::after {
		transform: rotate(19deg) skew(-28deg);
		background: $tieto-blue;
		content: " ";
		position: absolute;
		top: -100px;
		left: -50px;
		display: block;
		width: 200px;
		height: 200px;
		z-index: -1;
	}

	@include md {
		position: fixed;
	}
}