/**
 * Tieto logo.
 */
.logo {
	display: block;
	padding: 0 10px;
	top: 0;
	left: 0;
	z-index: 501;
	position: absolute;

	@include md {
		position: fixed;
	}

	img {
		height: 50px;
		@include md {
			height: auto;
		}
	}

	&:not(.fixed)::after {
		transform: rotate(19deg) skew(-28deg);
		background: $tieto-blue;
		content: " ";
		position: absolute;
		display: block;
		top: -120px;
	    left: -70px;
		width: 200px;
		height: 200px;
		z-index: -1;
		@include md {
			top: -100px;
			left: -50px;
		}
	}
}