/**
 * Add spacing to bottom of pages
 */

.page-content {
  margin-bottom: 80px;
}

.region-pre-content {
  margin-bottom: 1em;
}

.region, .page-content {
  box-sizing: border-box;
}

@include breakpoint(md) {
  .region-sidebar:empty {
    display: none;
  }

  .region-sidebar:not(:empty) {
    float: right;
    width: 20%;
    padding-left: 1em;

    ~ .region, ~ .page-content {
      padding-right: 1em;
      float: left;
      width: 80%;
    }
  }
}



.block-page-title-block {
  border-bottom: 2px solid #eeeeee;
  clear: both;
}

.layout-container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

.field--type-image {
  .image-preview > img {
    max-width: 100%;
    height: auto;
  }
}

.field--name-body {
  .filter-wrapper {
    display: none;
  }
}

.block-system-breadcrumb-block {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
    float: left;
  }
}

.region-breadcrumb {
  @include clearfix;
}

.block-book-navigation {
  margin-top: 1em;

  background: #f3f3f3;
  padding: 1em;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);

  .menu-item--active-trail > a {
    color: #333;
  }

  > h2 {
    margin-top: 0;
  }
}

.block-local-tasks-block {
  @include clearfix;
  margin-top: 1em;

  .tabs {
    padding: 0;
    float: right;

    .tabs__tab {
      margin: 5px;
    }
  }

  .tabs.secondary .tabs__tab {
    border-radius: 0;
  }

  .tabs.primary .tabs__tab {
    display: inline-block;
    background: 0;
    border: 0;

    a {
      padding: .3em .6em;
      // font-size: .8em;
      display: block;
      background: $brand-primary;
      color: white;
      border: 2px solid $brand-primary;
      // border-radius: 3px;
      &:hover {
        transition: background .2s, color .2s;
        background: white;
        color: $brand-primary;
      }
    }
    .is-active {
      background: white;
      color: $brand-primary;
    }
  }
}

.page-footer {

  max-width: $page-max-width;
  margin: 0 auto;
  padding: 2em 0 8em 0;
  color: $tieto-blue;
  border-top: 1px solid $tieto-blue;

  a {

      color: $tieto-blue;

  } 

  .footer-text {

    float: left;

      .footer-text-copyright {

        float: left;
        margin: 0 2em 0 0;

      }

      .footer-text-privacy {
      
        border-bottom: 1px solid $tieto-blue;
        float: left;

        a:hover {

          text-decoration: none;
          
        }


      }

  }

  .logo-footer-small {

    float: right;

  }
}

